<div id="layout" class="full">

	<header id="header" class="glue">
		<div class="row clearfix">
			<div class="little-head" style="width:70%;">
					<div id="Login_PopUp_Link" class="sign-btn tbutton small">
							<a routerLink="/logout" routerLinkActive="active"><span>Logout</span> </a>
						</div>
				<div id="Login_PopUp_Link" class="sign-btn tbutton small" >
					<a routerLink="/login" routerLinkActive="active"><span>Login</span> </a>
				</div>
				<div class="search" style="width:50%;">
					<input (keyup.enter)="onEnter()" type="text" id="inputhead" placeholder="Search" [ngModelOptions]="{standalone: true}" [(ngModel)]="motcle" style="width:100%;">
					<button type="submit">
						<i class="icon-search"></i>
					</button>
					<!-- end form -->
				</div>
				<!-- search -->
			</div>
			<!-- little head -->
		</div>
		<!-- row -->

		<div class="headdown">
			<div class="row clearfix">
				<div class="logo bottomtip" title="Best and Most Popular Musics">
					<a href="#">
						<img src="../../assets/images/logo.png" alt="Best and Most Popular Musics">
					</a>
				</div>
				<!-- end logo -->

				<nav>
					<ul class="sf-menu">
						<li>
							<a routerLink="/home" routerLinkActive="active">Home</a>
						</li>
						<li>
							<a routerLink="/videos" routerLinkActive="active">PlayList</a>
						</li>
					</ul>
					<!-- end menu -->
				</nav>
				<!-- end nav -->
			</div>
			<!-- row -->
		</div>
		<!-- headdown -->
	</header>
	<!-- end header -->
</div>
<div id="layout" class="full">
	<div class="sliderr">
		<div class="tp-banner-container">
			<div class="tp-banner">
				<img src="../../assets/images/slides/slider1.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
				<div class="tp-bannertimer"></div>
			</div>
		</div>
	</div>
	<router-outlet></router-outlet>
</div>
<footer id="footer">
	<div class="footer-last">
		<div class="row clearfix">
			<span class="copyright">© 2018 by Faratiana
				.</span>
			<div id="toTop">
				<i class="icon-angle-up"></i>
			</div>
			<!-- Back to top -->

			<div class="foot-menu">
				<ul>
					<li>
						<a href="/home">Home</a>
					</li>
					<li>
						<a href="/videos">PlayList</a>
					</li>
				</ul>
				<!-- end links -->
			</div>
			<!-- end foot menu -->
		</div>
		<!-- row -->
	</div>
	<!-- end last -->

</footer>
<!-- end footer -->