
		<div class="page-content">
          <div class="row row-fluid clearfix mbf">
            <div class="posts">
              <div class="def-block">
                <ul class="tabs">
                  <li><a href="#Latest"> Latest Videos </a></li>
                </ul><!-- tabs -->
    
                <ul class="tabs-content">
                    <li id="Latest" class="active">
                    <div  class="video-grid"  (click)="onSelect(video)" *ngFor="let video of videolist">
                      <a href="#" class="grid_3"> 
                        <iframe width="100%" height="150" [src]="video.url | safe" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <span><strong>{{video.title}}</strong></span>
                      </a>
                    </div><!-- video grid -->
                  </li><!-- tab content -->
                </ul><!-- end tabs -->
              </div><!-- def block -->
            </div><!-- posts -->
    
          </div><!-- row clearfix -->
        </div><!-- end page content -->
       